<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            padding: 25px;        
        }
        h1 {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Update the product named {{name}}</h1>
    <br><br>
    <form action="/product/update/{{id}}" method="PATCH">
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="input_name">Name</span>
            <input id="textName" type="text" name="name" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" required />
        </div>

        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="input_price">Price</span>
            <input id="textPrice" type="text" name="price" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" required />
        </div>
        <input id="updateBtn" type="submit" value="Update and Go" />
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#textName").val("{{name}}")
        $("#textPrice").val("{{price}}")


        {{!-- var patchData = {
            name: name,
            price: price
        } --}}

        $("#updateBtn").click(function (e) {
            var name = $("#textName").val()
            var price = $("#textPrice").val()
             var patchData = {
                name: name,
                price: price
             }
           // alert(Object.values(patchData))
            e.preventDefault();
            $.ajax({
                url: "/product/update/{{id}}",
                type: "PATCH",
                data: patchData,
                success: function () {
                    alert("The product name and price have been updated")
                    window.location.href = "/product/update/avatar/{{id}}"
                },
                error: function () {
                    alert("An error occured during update the product features")
                }
            })
        })

    </script>
</body>

</html>